
/* Bootstrap overrides */
.input-group {
    overflow: hidden !important;
}

.input-group button span {
    text-overflow: ellipsis !important;
    display: inline-block;
    white-space: nowrap;
}

.clip-to-bottom {
    top: auto !important;
    bottom: 0 !important;
}

input.select-network-type-input {
    width: 0 !important;
}

